body {
    background-size: cover;  
    color: black;
    font-family: Arial, sans-serif;
}

body#homepage {
    background-image: url('image/2.jpg'); 
    width: 100vw;   /* 视口宽度的100% */
    height: 120vh;  /* 视口高度的100% */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

body#teamintro {
    background-image: url('image/3.jpg'); 
    width: 100vw;   /* 视口宽度的100% */
    height: 600vh;  /* 视口高度的100% */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
} 

#content {
    width: 100%;  
    min-height: 100vh; 
    position: relative; 
    overflow: auto; 
}

.navbar {
    background-color: rgb(0, 88, 0);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar ul li a {
    display: block;
    color: white; /* 更改为白色以便在深色背景上显现 */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}  

.image-container {
    display: flex;
    flex-direction: column; /* 使图片在竖直方向上排列 */
    gap: 0px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}